=render 'shared/registration_header'
.main-credit
  -# .sidebar
  .credit-contents
    %h2.credit-contents__head
      クレジットカード情報入力
    %form.credit-contents__form
      .credit-contents__form-inner
        .credit-contents__form-inner--group
          %label
            カード番号
            %span.require
              必須
          %input.text-form{type:"text",placeholder:"半角数字のみ",maxlength:"19"}
          %ul
          %ul.credit-contents__form-inner--group--card-group
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3135490372",width:"49",height:"20"
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3135490372",width:"34",height:"20"
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3135490372",width:"30",height:"20"
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3135490372",width:"32",height:"20"
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3135490372",width:"21",height:"20"
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3135490372",width:"32",height:"20"
            %li.card-list
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3135490372",width:"32",height:"20"
        .credit-contents__form-inner--group
          %label
            有効期限
            %span.require
              必須
          %br
          .credit-contents__form-inner--group--select-wrap
            %select.credit-contents__form-inner--group--select-wrap--box
              %option{value:""}01
              %option{value:""}02
              %option{value:""}03
              %option{value:""}04
              %option{value:""}05
              %option{value:""}06
              %option{value:""}07
              %option{value:""}08
              %option{value:""}09
              %option{value:""}10
              %option{value:""}11
              %option{value:""}12
            %span 月
          .credit-contents__form-inner--group--select-wrap
            %select.credit-contents__form-inner--group--select-wrap--box
              %option{value:""}19
              %option{value:""}20
              %option{value:""}21
              %option{value:""}22
              %option{value:""}23
              %option{value:""}24
              %option{value:""}25
              %option{value:""}26
              %option{value:""}27
              %option{value:""}28
              %option{value:""}29
            %span 年
        .credit-contents__form-inner--group
          %label
            セキュリティコード
            %span.require
              必須
          %input.text-form{type:"text",placeholder:"カード背面4桁もしくは3桁の番号"}
          .credit-contents__form-inner--group--seqcode-text
            %span.question ?
            コードの裏面の番号とは？
        %button{type:"button"}次へ進む
=render 'shared/registration_footer'