= render "shared/registration_header"

.member-info
  .member-info__body
    .member-info__body__top
      会員情報入力
    = form_for(@user, url: save_session1_signup_index_path, method: :get, html:{class: "member-info__body__main"}) do |f|
      %span.member-info__body__main__text ニックネーム
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.text_field :nickname, placeholder: "例)メルカリ太郎", class: "member-info__body__main__input__box"
        - if @user.errors.any?
          - @user.errors.full_messages_for(:nickname).each do |message|
            %li.error-message= message

      %span.member-info__body__main__text メールアドレス
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "member-info__body__main__input__box"
        - if @user.errors.any?
          - @user.errors.full_messages_for(:email).each do |message|
            %li.error-message= message

      %span.member-info__body__main__text パスワード
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.password_field :password, placeholder: "6文字以上", autocomplete: "new-password", class: "member-info__body__main__input__box"
        - if @user.errors.any?
          - @user.errors.full_messages_for(:password).each do |message|
            %li.error-message= message

      %span.member-info__body__main__text パスワード(確認)
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.password_field :password_confirmation, placeholder: "6文字以上", class: "member-info__body__main__input__box"
        - if @user.errors.any?
          - @user.errors.full_messages_for(:password_confirmation).each do |message|
            %li.error-message= message
 
      .member-info__body__main__identification
        .member-info__body__main__identification__title
          本人確認
        .member-info__body__main__identification__contents
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

      %span.member-info__body__main__text お名前(全角)
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.text_field :name_last, placeholder: "例)山田", class: "member-info__body__main__input__box-name"
        = f.text_field :name_first, placeholder: "例)彩", class: "member-info__body__main__input__box-name-bottom"
        - if @user.errors.any?
          - @user.errors.full_messages_for(:name_first).each do |message|
            %li.error-message= message

        - if @user.errors.any?
          - @user.errors.full_messages_for(:name_last).each do |message|
            %li.error-message= message
 

      %span.member-info__body__main__text お名前カナ(全角)
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.text_field :name_kana_last, placeholder: "例)ヤマダ", class: "member-info__body__main__input__box-name"

        = f.text_field :name_kana_first, placeholder: "例)アヤ", class: "member-info__body__main__input__box-name-bottom"
        - if @user.errors.any?
          - @user.errors.full_messages_for(:name_kana_first).each do |message|
            %li.error-message= message

        - if @user.errors.any?
          - @user.errors.full_messages_for(:name_kana_last).each do |message|
            %li.error-message= message

      %span.member-info__body__main__text 生年月日
      %span.member-info__body__main__mark 必須
      .member-info__body__main__input
        = f.date_select :birthday, {start_year: Time.current.year, end_year: 1900, include_blank: true, use_month_numbers: true, date_separator: '/' }, {class: "member-info__body__main__input__box-date"}
        - if @user.errors.any?
          - @user.errors.full_messages_for(:birthday).each do |message|
            %li.error-message= message

      .member-info__body__main__note
        .member-info__body__main__note__text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

      //MEMO この一行でreCAPTCHAの表示ができます
      = recaptcha_tags

      - if @user.errors.any?
        - @user.errors.full_messages_for(:base).each do |message|
          %li.error-message= message

 
      .member-info__body__main__agree
        .member-info__body__main__agree__text
          「次へ進む」のボタンを押すことにより、
          =link_to "#" do
            %span.member-info__body__main__agree__text__blue  利用規約に同意したものとみなします

        = f.submit "次へ進む", class: "member-info__body__main__next-btn"

      .member-info__body__main__about
        =link_to "#" do
          %span.member-info__body__main__about__text 本人情報の登録について
          %i.fas.fa-angle-right.fa-lg

= render "shared/registration_footer"