= render "shared/registration_header"
.entry
  .entry-wrap
    %h2.entry-wrap__head
      本人情報の登録
    = form_for(@address, url: addresses_path, method: :post, html:{class: "entry-wrap__form"}) do |f|
      .entry-wrap--form--group
        %p
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.group-upload
        = link_to "本人確認書類のアップロードに関して>","/" ,target:"_blank",class:"group-upload__link"
      .entry-wrap__form--group
        %label お名前
        .user-name-address
          %p.user-name-address__last= current_user.name_last
          %p.user-name-address__first= current_user.name_first
      .entry-wrap__form--group
        %label お名前カナ
        .user-name-kana-address
          %p.user-name-kana-address__last= current_user.name_kana_last
          %p.user-name-kana-address__first= current_user.name_kana_first
      .entry-wrap__form--group
        %label 生年月日
        %p.user-birthday-address= current_user.birthday
      .entry-wrap__form--group
        %label 郵便番号
        %span.essential 必須
        = f.text_field :postal_code, placeholder:"例）1234567", class: "entry-form-box"
        - if @address.errors.any?
          - @address.errors.full_messages_for(:postal_code).each do |message|
            %li.error-message= message
      .entry-wrap__form--group
        %label 都道府県
        %span.essential 必須
        .group-prefecture-select-box
          //TODO 都道府県を簡単に取得、登録できるように変更する
          =f.select :prefecture, [["北海道"], ["青森県"], ["岩手県"], ["宮城県"], ["秋田県"], ["山形県"], ["福島県"], ["栃木県"], ["群馬県"], ["茨城県"],
                                ["埼玉県"], ["東京都"], ["千葉県"], ["神奈川県"], ["新潟県"], ["富山県"], ["石川県"], ["福井県"], ["山梨県"], ["長野県"],
                                ["岐阜県県"], ["静岡県"], ["愛知県"], ["三重県"], ["滋賀県"], ["京都府"], ["大阪府"], ["兵庫県"], ["奈良県"], ["和歌山県"],
                                ["鳥取県"], ["島根県"], ["岡山県"], ["広島県"], ["山口県"], ["徳島県"], ["香川県"], ["愛媛県"], ["高知県"], ["福岡県"],
                                ["佐賀県"],["長崎県"], ["熊本県"], ["大分県"], ["宮崎県"], ["鹿児島県"], ["沖縄県"]]
        - if @address.errors.any?
          - @address.errors.full_messages_for(:prefecture).each do |message|
            %li.error-message= message

      .entry-wrap__form--group
        %label 市区町村
        %span.essential 必須
        = f.text_field :city, placeholder:"例）東京都渋谷区", class: "entry-form-box"
        - if @address.errors.any?
          - @address.errors.full_messages_for(:city).each do |message|
            %li.error-message= message
      .entry-wrap__form--group
        %label 番地
        %span.essential 必須
        = f.text_field :house_number, placeholder:"例）青山1-1-1", class: "entry-form-box"
        - if @address.errors.any?
          - @address.errors.full_messages_for(:house_number).each do |message|
            %li.error-message= message
      .entry-wrap__form--group
        %label 建物名
        %span.optional 任意
        =f.text_field :building_name, placeholder:"例）柳ビル103"
      = f.submit "次へ進む", class: "next-step-btn"
      .entry-wrap__form--group-last
        %p.group-about-user-registration
        = link_to "本人情報の登録について>","/",target:"_blank",class:"group-about-user-registration__link"

= render "shared/registration_footer"