= render "shared/registration_header"
.entry
  .entry-wrap
    %h2.entry-wrap__head
      本人情報の登録
    = form_for(@address, url: addresses_path, method: :post, html:{class: "entry-wrap__form"}) do |f|
      .entry-wrap--form--group
        %p
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.group-upload
        = link_to "本人確認書類のアップロードに関して>","/" ,target:"_blank",class:"group-upload__link"
      .entry-wrap__form--group
        %label お名前
        %p メルカリ太郎
      .entry-wrap__form--group
        %label お名前カナ
        %p メルカリタロウ
      .entry-wrap__form--group
        %label 生年月日
        %p 1998/7/24
      .entry-wrap__form--group
        %label 郵便番号
        %span.essential 必須
        = f.text_field :postal_code, placeholder:"例）1234567"
      .entry-wrap__form--group
        %label 都道府県
        %span.essential 必須
        .group-prefecture-select-box
          //TODO 都道府県を簡単に取得、登録できるように変更する
          =f.select :prefecture,[["東京都","東京都"],["神奈川県","神奈川県"],["千葉県","千葉県"],["埼玉県","埼玉県"],["栃木県","栃木県"],["茨城県","茨城県"],["群馬県","群馬県"]]
      .entry-wrap__form--group
        %label 市区町村
        %span.essential 必須
        = f.text_field :city, placeholder:"例）東京都渋谷区"
      .entry-wrap__form--group
        %label 番地
        %span.essential 必須
        = f.text_field :house_number, placeholder:"例）青山1-1-1"
      .entry-wrap__form--group
        %label 建物名
        %span.optional 任意
        =f.text_field :building_name, placeholder:"例）柳ビル103"
      = f.submit "次へ進む", class: "next-step-btn"
      .entry-wrap__form--group-last
        %p.group-about-user-registration
        = link_to "本人情報の登録について>","/",target:"_blank",class:"group-about-user-registration__link"

= render "shared/registration_footer"