= render "shared/main_header"
- breadcrumb :logout
.pan
  = breadcrumbs pretext: "",separator: " &rsaquo; "

.logout
  = render "shared/main_sidebar"
  .logout__box
    .logout__box--logout-btn
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logoutlink"
= render "shared/main_footer"