= render "shared/main_header"
- breadcrumb :mypage, @user
.pan
  = breadcrumbs pretext: "",separator: " &rsaquo; "

.default
  .mypage-contents
    = render "shared/main_sidebar"
    .mypage-contents__main
      .mypage-contents__main__user
        = link_to "#" do
          .mypage-contents__main__user__avatar
            = image_tag("//static.mercdn.net/images/member_photo_noimage_thumb.png", height: "60", width: "60")
          %h2.mypage-contents__main__user__name
            = current_user.nickname

          %span.mypage-contents__main__user__evaluation
            評価
            %span.mypage-contents__main__user__evaluation-count
              0
          %span.mypage-contents__main__user__exhibition-number
            出品数
            %span.mypage-contents__main__user__exhibition-number-count
              = @user_products.where(trade_status: 0).count

      .mypage-main-top
        .switch-tab
          .switch-tab__left お知らせ
          .switch-tab__right やることリスト

        .tab

          .tab--things-to-do-list__active.during-deal
            .tab--things-to-do-list__image
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2787198863", class: "tab--things-to-do-list__image__color")
            .tab--things-to-do-list__textbox
              現在、お知らせはありません

          / .tab--list.during-deal-item-btn
          /   = link_to "一覧を見る", '#', class: "look-list-btn"


          .tab--things-to-do-list.past
            .tab--things-to-do-list__image
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2787198863", class: "tab--things-to-do-list__image__color")
            .tab--things-to-do-list__textbox
              現在、やることリストはありません

          / .tab__list__hide.past-finished-deals
          /   = link_to "一覧を見る", '#', class: "look-list-btn"



      .mypage-main-bottom
        .bought 購入した商品

        .switch-tab
          .switch-tab__left 取引中
          .switch-tab__right 過去の取引


        .tab
          - @deals.each do |deal|
            .tab--item.during-deal-item
              .tab--item__left
                = image_tag("//static.mercdn.net/images/mercari_profile.png", class: "lazyloaded")
              .tab--item__right
                = "「#{deal.name}」を購入しました。受け取り評価をしてください。"
                .tab--item__right__product
                  %span.tab--item__right__product-status
                    受取評価待ち

          - if @deals.count == 0
            .tab--things-to-do-list__active.during-deal
              .tab--things-to-do-list__image
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2787198863", class: "tab--things-to-do-list__image__color")
              .tab--things-to-do-list__textbox
                取引中の商品はありません
          - else
            .tab__list.during-deal-item-btn
              = link_to "一覧を見る", '#', class: "look-list-btn"

        .tab
          - @finished_deals.each do |finished_deal|
            .tab--item__hide.past-item
              .tab--item__left
                = image_tag("//static.mercdn.net/images/mercari_profile.png", class: "lazyloaded")
              .tab--item__right
                = "「#{finished_deal.name}」を購入しました。取引が完了しました。"
                .tab--item__right__product
                  %span.tab--item__right__product-status
                    取引完了

          - if @finished_deals.count == 0
            .tab--things-to-do-list.past
              .tab--things-to-do-list__image
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2787198863", class: "tab--things-to-do-list__image__color")
              .tab--things-to-do-list__textbox
                過去の取引はありません
          - else
            .tab__list__hide.past-finished-deals
              = link_to "一覧を見る", '#', class: "look-list-btn"



= render "shared/main_footer"
= render "shared/exhibition_btn"