.contents__side
  .mypage
    %ul.mypage__list
      %li.mypage__list--mp
        = link_to user_path(current_user), class: "mypage-link" do
          %span マイページ
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span お知らせ
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span やることリスト
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span いいね！一覧
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to new_product_path(current_user), class: "mypage-link" do
          %span 出品する
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 出品した商品-出品中
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 出品した商品-取引中
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 出品した商品-売却済み
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 購入した商品-取引中
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 購入した商品-過去の取引
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span ニュース一覧
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 評価一覧
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span ガイド
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span お問い合わせ
          =fa_icon 'angle-right',class:'sideicon fa-lg'
    .mypage__head メルペイ
    %ul.mypage__list
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 売上・振込申請
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span ポイント
          =fa_icon 'angle-right',class:'sideicon fa-lg'
    .mypage__head 設定
    %ul.mypage__list
      %li.mypage__list--li
        = link_to profile_user_path(current_user) , class: "mypage-link" do
          %span プロフィール
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 発送元・お届け先住所住所変更
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to new_credit_path , class: "mypage-link" do
          %span 支払い方法
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span メール/パスワード
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 本人情報
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to '#' , class: "mypage-link" do
          %span 電話番号の確認
          =fa_icon 'angle-right',class:'sideicon fa-lg'
      %li.mypage__list--li
        = link_to logout_users_path , class: "mypage-link" do
          %span ログアウト
          =fa_icon 'angle-right',class:'sideicon fa-lg'