= render "shared/registration_header"
.new-main
  .new-main__body
    .new-main__body__top
      .new-main__body__top__text
        アカウントをお持ちでない方はこちら
      =link_to member_info_signup_index_path do
        .new-main__body__top__btn
          新規会員登録
    .new-main__body__sns
      =link_to "#" do
        .new-main__body__sns__btn-facebook
          %i.fab.fa-facebook-square.fa-2x.new-main__body__sns__btn-facebook__icon
          Facebookでログイン
      =link_to "#" do
        .new-main__body__sns__btn-google
          %i.fab.fa-google.fa-lg.new-main__body__sns__btn-google__icon
          Googleでログイン
    .new-main__body__input
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .new-main__body__input__email
            = f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "メールアドレス", class: "new-main__body__input__email__box"
        .field
          = f.password_field :password, autocomplete: "current-password",  autocomplete: "new-password",  placeholder: "パスワード", class: "new-main__body__input__pass__box"
          .new-main__body__login
            = f.submit "ログイン", class: "new-main__body__login__btn"
= render "shared/registration_footer"