.default
  .contents
    .contents__side
      .mypage
        %ul.mypage__list
          %li
            = link_to '#',class:'mypage__list--mp' do
              %span マイページ
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span お知らせ
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span やることリスト
              =fa_icon 'angle-right',class:'sideicon'
          %li 
            = link_to '#',class:'mypage__list--li' do
              %span いいね！一覧
              =fa_icon 'angle-right',class:'sideicon'
          %li 
            = link_to '#',class:'mypage__list--li' do
              %span 出品する
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 出品した商品-出品中
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 出品した商品-取引中
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 出品した商品-売却済み
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 購入した商品-取引中
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 購入した商品-過去の取引
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span ニュース一覧
              =fa_icon 'angle-right',class:'sideicon'
          %li 
            = link_to '#',class:'mypage__list--li' do
              %span 評価一覧
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span ガイド
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span お問い合わせ
              =fa_icon 'angle-right',class:'sideicon'
        .mypage__head メルペイ
        %ul.mypage__list
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 売上・振込申請
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span ポイント
              =fa_icon 'angle-right',class:'sideicon'
        .mypage__head 設定
        %ul.mypage__list
          %li
            = link_to '#',class:'mypage__list--li' do
              %span プロフィール
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 発送元・お届け先住所住所変更
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 支払い方法
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span メール/パスワード
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 本人情報
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span 電話番号の確認
              =fa_icon 'angle-right',class:'sideicon'
          %li
            = link_to '#',class:'mypage__list--li' do
              %span ログアウト
              =fa_icon 'angle-right',class:'sideicon'
    .contents__main  
      .contents__main__user
        .user
          %a{href: "https://www.mercari.com/jp/u/934297861/"}
            %figure
              %img{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
            %h2.bold ダイチ
            .mypage-number
              %div
                評価
                %span.bold 0
              %div
                出品数
                %span.bold 0

      .infotodo
        .infotodo--info お知らせ
        .infotodo--todo やることリスト
      %ul.tab
        %li.tab--item
          %img.lazyloaded{alt: "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", src: "//static.mercdn.net/images/mercari_profile.png"}/
          .textbox
            .textbox__text お知らせですお知らせですお知らせですお知らせですお知らせ
            .textbox__time
              .textbox__time__icon
              .textbox__time__timeago 10時間前
        %li.tab--list 
          = link_to "一覧を見る", '#',class:'itiran'
      .bought 購入した商品
      .deal 取引中
      .past 過去の取引
      .hako 
        .hako__noitem 取引中の商品がありません
