= render "shared/main_header"
= render "shared/exhibition_btn"
- breadcrumb :categorydetail
.pan
  = breadcrumbs pretext: "",separator: " &rsaquo; "
.category-main
  %section.category-pickup-container
    %section.category-item-box-container
      .category-item-box-container__parts
        %span.category-item-box-container__parts__text
          小物
        %span.category-item-box-container__parts__text
          ヘアアクセサリー
        %span.category-item-box-container__parts__text
          帽子
        %span.category-item-box-container__parts__text
          トップス
        %span.category-item-box-container__parts__text
          時計
      %h3.category-item-box-container__title レディース新着アイテム
      -# .category-item-box-container__content
      .item-box-container__content
        - @products.each do |product|
          = link_to product_path(product), class: "user-product-show-link" do
            = render partial: "shared/item_box", locals: {product: product}

= render "shared/main_footer"
