= render "shared/main_header"
= render "shared/ishii_pankuzu"
= render "shared/exhibition_btn"

.category-main
  %section.category-pickup-container
    %section.category-item-box-container
      .category-item-box-container__parts
        %span.category-item-box-container__parts__text
          小物
        %span.category-item-box-container__parts__text
          ヘアアクセサリー
        %span.category-item-box-container__parts__text
          帽子
        %span.category-item-box-container__parts__text
          トップス
        %span.category-item-box-container__parts__text
          時計
      %h3.category-item-box-container__title レディース新着アイテム
      .category-item-box-container__content
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"
        = render "shared/category_item_box"


= render "shared/main_footer"
