= render "shared/main_header"
.main
  = link_to image_tag("https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg"), "https://tech-camp.in/technology"
  %section.pickup-container
    %h2.pickup-container__head ピックアップカテゴリー
    %section.item-box-container
      %h3.item-box-container__title レディース新着アイテム
      .item-box-container__content
        - @products_ladies.each do |product|
          = link_to product_path(product), class: "user-product-show-link-index" do
            = render partial: "shared/item_box", locals: {product: product}
      .item-box-container__view-all すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title メンズ新着アイテム
      .item-box-container__content
        - @products_mens.each do |product|
          = link_to product_path(product), class: "user-product-show-link-index" do
            = render partial: "shared/item_box", locals: {product: product}
      .item-box-container__view-all すべての商品を見る

  %section.pickup-container
    %h2.pickup-container__head ピックアップブランド
    %section.item-box-container
      %h3.item-box-container__title シャネル新着アイテム
      .item-box-container__content
        - @chanels.each do |product|
          = link_to product_path(product), class: "user-product-show-link-index" do
            = render partial: "shared/item_box", locals: {product: product}
      .item-box-container__view-all すべての商品を見る

    %section.item-box-container
      %h3.item-box-container__title ナイキ新着アイテム
      .item-box-container__content
        - @nikes.each do |product|
          = link_to product_path(product), class: "user-product-show-link-index" do
            = render partial: "shared/item_box", locals: {product: product}

      .item-box-container__view-all すべての商品を見る
= render "shared/main_footer"
= render "shared/exhibition_btn"