= render 'shared/main_header'
- breadcrumb :detail, @product
%section.item
  %h1.item__name
    = @product.name
  %p.item__detail
  .item-content
    - if @product.trade_status == 2 || @product.trade_status == 3
      .item-content__item-sold-out-badge
        .item-content__sold-label
          SOLD
    - elsif @product.trade_status == 1
      .item-content__item-stop-badge
        .item-content__stop-label
          停止中
    .item-content__left
      .item-content__left--photo
        = image_tag @image.image.to_s, class: "big-photo"
        .mini-photos
          .mini-photos__active
            -@images.each do |image|
              =image_tag image.image.to_s, class:"mini-photo"
    .item-content__right
      %table.item-content__right--table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#" do
                = @product.user.nickname
              .item-user-rating
                .item-user-rating__icon
                  = fa_icon 'laugh', class: 'icon-good'
                  %span 20
                .item-user-rating__icon
                  = fa_icon 'meh', class: 'icon-not-good'
                  %span 3
                .item-user-rating__icon
                  = fa_icon "frown", class: 'icon-bad'
                  %span 1
          %tr
            %th カテゴリー
            %td.item-category
              = link_to "#" do
                = @product.category.name
                .br
              = link_to "#" do
                = fa_icon "angle-right"
                = @product.category.name
                .br
              = link_to "#" do
                = fa_icon "angle-right"
                = @product.category.name
          %tr
            %th ブランド
            %td
              = link_to "#" do
                =@product.brand.name
          %tr
            %th 商品の状態
            %td
              =@product.item_status
          %tr
            %th 配送料の負担
            %td
              =@product.burden
          %tr
            %th 配送の方法
            %td
              =@product.delivery_method
          %tr
            %th 配送元地域
            %td
              = link_to "#" do
                =@product.region
          %tr
            %th 発送日の目安
            %td
              =@product.delivery_date
  .item__price-box
    .item__price-box--price
      ¥
      =@price
    .item__price-box--tax (税込)
    .item__price-box--shipping-fee 送料込み

  - if @product.trade_status == 2 || @product.trade_status == 3
    .item-soldout-btn
      売り切れました
  - elsif user_signed_in?
    -if @product.saler_id == current_user.id
    - else
      = link_to "購入画面に進む", purchase_confirmation_product_path(@product) , class: 'item-buy-btn'
  - else
    = link_to "購入画面に進む", new_user_session_path, class: "item-buy-btn"

  .item__description
    %p.item__description--inner
      = @product.explain
      %br


  .item__button-container
    .item__button-container--left
      %button.button-like
        %i.far.fa-heart
        %span いいね！ 100
      = link_to "#" , class: "button-report" do
        %i.far.fa-flag
        %span 不適切な商品の報告

    .item__button-container--right
      = link_to "#", class: "policy-safe"  do
        = fa_icon "lock"
      %span あんしん・あんぜんへの取り組み
- if user_signed_in?
  - if @product.saler_id == current_user.id
    = render "products/product_state"


- if @product.comments.length == 0
- else
  .message
    .message__content
      %ul.message__content--items

        - @comments.each do |comment|

          %li.message-item
            = link_to "#" , class: "message-user" do
              %figure{class: "#{(comment.user == current_user)? "figure-myself" : "figure-others"}"}
                %img.message-user-icon{src: "https://cdn.pixabay.com/photo/2016/04/24/01/25/nagasaki-1348645_1280.jpg"}
                %div{class: "#{(comment.user == current_user)? "figcaption-myself" : "figcaption-others"}"}
                  = comment.user.nickname

            %div{class: "#{(comment.user == current_user)? "message-item__body-myself" : "message-item__body-others"}"}
              %i{class: "#{(comment.user == current_user)? "fas fa-caret-right fa-2x baloon-icon" : "fas fa-caret-left fa-2x baloon-icon"}"}

              .message-item__body-others--text
                = comment.body
              .message-item__body-others--icons
                %time
                  %i.far.fa-clock
                  %span
                    = time_ago_in_words(comment.created_at)
                %button
                  %i.far.fa-flag

- if user_signed_in?
  = form_for [@product, @comment] do |f|
    .message__content
      .message-form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :body, class: "comment-textarea"
        - if @product.trade_status == 0
          .comment-submit-button
            .comment-button-text
              = f.submit "コメントする", class: "comment-submit-button comment-button-text"
        - else
          .comment-submit-button
            .comment-button-text 売り切れのためコメントできません
%ul.item-prev-next
  %li.item-prev-next__left
    = link_to product_path(@product.previous) , class: "prev-next-btn" do
      = fa_icon "angle-left"
      = @product.previous.name
  %li.item-prev-next__right
    = link_to product_path(@product.next) , class: "prev-next-btn" do
      = @product.next.name
      = fa_icon "angle-right"


.social-media-buttons
  %ul.social-media-buttons__box
    %li
      = link_to "#" do
        %i.fab.fa-facebook-square
    %li
      = link_to "#" do
        %i.fab.fa-twitter-square
    %li
      = link_to "#" do
        %i.fab.fa-pinterest-square


.user-show-products
  %section.pickup-container
    .user-show-products-item-box-container
      %h3.item-box-container__title
        = "#{@product.user.nickname}さんのその他の出品"
      .user-show-products-item-box-container__content
        -@products_other.each do |product|
          =link_to product_path(product), class: "user-product-show-link" do
            = render partial: "shared/item_box", locals: { product: product}

= render "shared/main_footer"