= render 'shared/main_header'
= render "shared/pankuzu"
%section.item
  %h1.item__name
    = @product.name
  %p.item__detail
  .item-content
    - if @product.trade_status == 2 || @product.trade_status == 3
      .item-content__item-sold-out-badge
        .item-content__sold-label
          SOLD
    .item-content__left
      .item-content__left--photo
        = image_tag("https://resources.matcha-jp.com/resize/720x2000/2018/09/20-63194.jpeg", class: "big-photo")
        .mini-photos
          .mini-photos__active
            = image_tag("https://resources.matcha-jp.com/resize/720x2000/2018/09/20-63194.jpeg", class: "mini-photo")
          .mini-photos__not-active
            = image_tag("https://tk.ismcdn.jp/mwimgs/6/e/1140/img_6ead3d2a815ac820f1630e7f4b2e26d5109924.jpg", class: "mini-photo")
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/5/55/Shibuya_station.jpg", class: "mini-photo")
            = image_tag("https://resources.matcha-jp.com/resize/720x2000/2016/11/11-8834.jpeg", class: "mini-photo")
            = image_tag("https://tk.ismcdn.jp/mwimgs/3/f/1140/img_3fce81b4877be8898b8fb4e048dade38472548.jpg", class: "mini-photo")
    .item-content__right
      %table.item-content__right--table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#" do
                = @product.user.name
              .item-user-rating
                .item-user-rating__icon
                  = fa_icon 'laugh', class: 'icon-good'
                  %span 20
                .item-user-rating__icon
                  = fa_icon 'meh', class: 'icon-not-good'
                  %span 3
                .item-user-rating__icon
                  = fa_icon "frown", class: 'icon-bad'
                  %span 1
          %tr
            %th カテゴリー
            %td.item-category
              = link_to "#" do
                = @product.category.name
                .br
              = link_to "#" do
                = fa_icon "angle-right"
                = @product.category.name
                .br
              = link_to "#" do
                = fa_icon "angle-right"
                = @product.category.name
          %tr
            %th ブランド
            %td
              = link_to "#" do
                =@product.brand.name
          %tr
            %th 商品の状態
            %td
              =@product.item_status
          %tr
            %th 配送料の負担
            %td
              =@product.burden
          %tr
            %th 配送の方法
            %td
              =@product.delivery_method
          %tr
            %th 配送元地域
            %td
              = link_to "#" do
                =@product.region
          %tr
            %th 発送日の目安
            %td
              =@product.delivery_date
  .item__price-box
    .item__price-box--price
      ¥
      =@price
    .item__price-box--tax (税込)
    .item__price-box--shipping-fee 送料込み

  - if @product.trade_status == 2 || @product.trade_status == 3
    .item-soldout-btn
      売り切れました
  - else
    = link_to "購入画面に進む", purchase_confirmation_product_path(@product) , class: 'item-buy-btn'

  .item__description
    %p.item__description--inner
      = @product.explain
      %br


  .item__button-container
    .item__button-container--left
      %button.button-like
        %i.far.fa-heart
        %span いいね！ 100
      = link_to "#" , class: "button-report" do
        %i.far.fa-flag
        %span 不適切な商品の報告

    .item__button-container--right
      = link_to "#", class: "policy-safe"  do
        = fa_icon "lock"
        %span あんしん・あんぜんへの取り組み


.message
  .message__content
    %ul.message__content--items
      %li.message-item
        = link_to "#" , class: "message-user" do
          %figure
            %img.message-user-icon{src: "https://images-na.ssl-images-amazon.com/images/I/41l7ijWCGSL._SY355_.jpg"}
            %figcaption
              koike

        .message-item__body
          = fa_icon "caret-left 2x", class: "baloon-icon";
          .message-item__body--text 400円での購入は可能ですか？
          .message-item__body--icons
            %time
              %i.far.fa-clock
              %span 1日前
            %button
              %i.far.fa-flag

      %li.message-item
        = link_to "#" , class: "message-user" do
          %figure
            %img.message-user-icon{src: "https://images-na.ssl-images-amazon.com/images/I/41MxiNH7ODL._SX355_.jpg"}
            %figcaption
              hasebeee
            .message-is-seller
              出品者
        .message-item__body
          = fa_icon "caret-left 2x", class: "baloon-icon";
          .message-item__body--text 通報しました
          .message-item__body--icons
            %time
              %i.far.fa-clock
              %span 1日前
            %button
              %i.far.fa-flag
  .message__content
    %form.message-form
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.comment-textarea
      .comment-submit-button
        .comment-button-text
          コメントする


%ul.item-prev-next
  %li.item-prev-next__left
    = link_to product_path(@product.previous) , class: "prev-next-btn" do
      = fa_icon "angle-left"
      = @product.previous.name
  %li.item-prev-next__right
    = link_to product_path(@product.next) , class: "prev-next-btn" do
      = @product.next.name
      = fa_icon "angle-right"


.social-media-buttons
  %ul.social-media-buttons__box
    %li
      = link_to "#" do
        %i.fab.fa-facebook-square
    %li
      = link_to "#" do
        %i.fab.fa-twitter-square
    %li
      = link_to "#" do
        %i.fab.fa-pinterest-square


.user-show-products
  %section.pickup-container
    .user-show-products-item-box-container
      %h3.item-box-container__title
        = "#{@product.user.name}さんのその他の出品"
      .user-show-products-item-box-container__content
        -@products_other.each do |product|
          =link_to product_path(product), class: "user-product-show-link" do
            = render partial: "shared/item_box", locals: { product: product}


= render "shared/main_footer"